.normaltext {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px}

.username {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #FFFFFF}
.detaillabels {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #993300; line-height: 16px}
.listname { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #993300}
.listtop {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 16px; color: #006699}
.form {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #000000}
